<div class="showMovieComponent">
    <div class="showMoviesParent ms-5 mt-2">
        <div class="row ">
            <div class="col-lg-2 showImage">
                <img src="https://image.tmdb.org/t/p/original/{{ movieDetails.poster_path }}" alt="">
            </div>
            <div class="col-lg-10 p-5 col2">
                <h2>{{movieDetails.original_title}}</h2>
                <p>{{movieDetails.overview}}</p>
                <a class="btn btn-danger" href="https://www.themoviedb.org/video/play?key={{viewTrailer}}"
                    target="_blank">watch trailer
                </a>
            </div>
        </div>

    </div>
    <div class="crewSection mt-3 ms-5">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <h1>Top Crew</h1>
                <div class="row" >
                    <div class="col-lg-4 mt-3 " *ngFor="let cast of movieCast">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="https://image.tmdb.org/t/p/original/{{ cast.profile_path}}" alt="No reference" width="100%" height="100px">
                            </div>
                            <div class="col-lg-9">
                                <h5>{{cast.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>