<div class="searchComponent">
    <div class="searchSection">
        <form class="inputSection" [formGroup]="movieDetails" (ngSubmit)="searchMovie()">
            <input type="text" class="form-control" formControlName="movieName" placeholder="Search Here!">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
        <div class="row mt-5">
            <div class="col-lg-4" *ngFor="let movies of movieData">
                <div class="row">
                    <div class="col-lg-3 mt-4 mb-4" *ngIf="movies.poster_path">
                        <img src="https://image.tmdb.org/t/p/original/{{ movies.poster_path }}" alt="" class="imageSection" width="100%">
                    </div>
                    <div class="col-lg-9 mt-4 mb-4">
                        <h5>{{movies.original_title}}</h5>
                    </div>
                </div>
            </div>
        </div>

</div>